html {
  min-width: 480px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 480px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-toggler {
  margin-left: 1%;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
  max-width: 100%;
}

.shift_abit {
  margin-left: 10px;
}

.position-well {
  position: absolute;
  top: -264%;
  right: -15%;
}
.position-well svg {
  width: 70px;
  height: 70px;
}

ul {
  padding-left: 0 !important;
  list-style-type: none;
}
.horizontal-rule {
  display: flex;
  flex-direction: row;
}

.horizontal-rule:before,
.horizontal-rule:after {
  content: "";
  flex: 1 1;
  border-bottom: 2px solid #000;
  margin: auto;
}

.full-height {
  height: 100%;
}
